body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    color: #1E130E
}

h1 {
    font-size: 4em;
    font-weight: 200;
    margin: 0px
}

h2 {
    font-size: 1.9em;
    font-weight: 300;
    margin: 0px
}

ul {
    margin-top: 0;
    margin-bottom: 20px;
    list-style: none
}

li {
    margin-top: 0;
    margin-bottom: 0
}

.header {
    background-color: #C61A39;
    border-radius: 10px;
    color: #FFFFFF;
    margin: auto;
    height: 270px;
    width: 1020px
}

.header-left,
.header-center,
.header-right {
    float: left;
    width: 280px;
    margin: 45px 25px 0px 25px
}

.header-center {
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 40px
}

.header-right {
    float: right}

.picture {
    margin: auto;
    width: 150px;
    height: 150px
}

.profilepic {
    background-color: #C61A39;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    height: 150px
}

.socials {
    margin: auto;
    width: 130px;
    height: 50px;
    padding-top: 10px;
    text-align: center
}

.socials a {
    color: #FFFFFF
}

.socials .icon-twitter,
.socials .icon-medium {
    color: #C61A39
}

.socials .icon-twitter:hover {
    color: #55ACEE
}

.socials .icon-medium:hover {
    color: #333332
}

.containerb {
    margin: auto;
    width: 1020px
}

.containerb div {
    display: inline-block
}

.container-main {
    width: 660px;
    margin-top: 15px
}

.container-side {
    vertical-align: top;
    margin-top: 21px;
    margin-left: 30px;
    width: 320px;
}

.section0 {
    width: 100%;
    border-spacing: 0px
}

.section1 {
    border: 1px solid #C61A39;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    font-size: 1.9em;
    font-weight: 400;
    width: 40%
}

.section1 p {
    margin: 5px 0px 0px 0px
}

.section2 {
    border-bottom: 1px solid #C61A39;
    width: 50%
}

.main-title {
    box-sizing: border-box;
    padding-top: 10px;
    width: 100%
}

.main-title h2 {
    font-size: 1.7em;
    color: #C61A39;
    float: left
}

.main-date {
    color: #8E6970;
    font-weight: 400;
    margin-bottom: 0px;
    float: right
}

.main-desc {
    clear: both;
    padding-left: 20px
}

.main-desc h3 {
    margin-top: 0;
    margin-bottom: 0
}

.main-desc p {
    margin-top: 5px;
    margin-bottom: 10px
}

.skills {
    border-bottom: 1px solid #C61A39;
    margin-bottom: 15px;
    width: 100%
}

.skills h2 {
    font-weight: 300;
    margin-bottom: 1px
}

.side-container {
    width: 100%;
    margin-bottom: 15px
}

.progressbar {
    border-radius: 5px;
    background-color: #A8D1E5;
    height: 2em;
    margin-left: 10%;
    width: 80%;
    position: relative
}

.progress2 {
    width: 40%
}

.progress3 {
    width: 60%
}

.progress5 {
    border-radius: 5px;
    width: 100%
}

.progress2,
.progress3,
.progress5{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 2em;
    background-color: #176286;
    z-index: 1;
    position: absolute
}

.progressbar span {
    position: absolute;
    z-index: 2;
    line-height: 2em;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
    width: 100%
}