body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    color: #1E130E
}

h1 {
    font-size: 4em;
    font-weight: 200;
    margin: 0
}

.header {
    background-color: #C61A39;
    border-radius: 5px;
    color: #FFFFFF;
    margin: auto;
    height: 300px;
    width: 1100px
}

.header-left,
.header-center,
.header-right {
    float: left;
    width: 300px;
    margin: 75px 25px 0px 25px
}

.header-center {
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 40px
}

.picture {
    background: url('https://pbs.twimg.com/profile_images/378800000845791009/fe00dcdf7b38ec2233e4981080b9368b_400x400.jpeg');
    background-size: contain;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    margin: auto;
    width: 150px;
    height: 150px
}

.socials {
    margin: auto;
    width: 130px;
    height: 50px;
    padding-top: 10px;
    text-align: center
}

.socials a {
    color: #FFFFFF
}

.socials .icon-twitter,
.socials .icon-medium {
    color: #C61A39
}

.socials .icon-twitter:hover {
    color: #55ACEE
}

.socials .icon-medium:hover {
    color: #333332
}